
<header>
  <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 ">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="assets/es.png" style="height: 25px; width:50px; margin-left: 15px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/about">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/projects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/skills">Tecnologías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/contact">Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  
</main>

<router-outlet />
