<div class="container">
    <h2>Tecnologías que manejo</h2>
   
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>          
                <th>Descripcion</th>          
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skills">
                <td><img src="{{skill.urlImagen}}" alt="alaverga.jpg" style="width:70px; height:70px"></td>
                <td>{{skill.nombre}}</td>
                <td>{{skill.descripcion}}</td>
              </tr>
        </tbody>
    </table>
  </div>
